 @using CIPLATFORM.Entities.ViewModels
@model ProfileViewModel
<form method="post" id="goalsheetform">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Please input
                    below Volunteering Goal
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            @*   <div class="modal-body">

                <label class="mb-1 ">Mission</label>
                <select type="text" class="form-control form-select" asp-for="Timesheet.MissionId">
                <option value="">Select your mission</option>
                @foreach (var obj in Model.goalmissions)
                {
                <option value="@obj.Mission.MissionId">@obj.Mission.Title</option>
                }
                </select>
                <label class="mb-1 mt-3">Actions</label>
                <input type="text" class="form-control" placeholder="Enter Actions" asp-for="Timesheet.Action">

                <label class="mb-1 mt-3">
                Date
                </label>

                <div class="form-group">
                <input type="date" id="sDate" asp-for="Timesheet.DateVolunteereed"
                class="form-control">
                </div>

                <label class="mb-1 mt-3"
                for="exampleFormControlTextarea1">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" asp-for="Timesheet.Notes"
                rows="4" placeholder="Enter your message..."></textarea>
                </div>*@
            <div class="modal-body">
                <label class="mb-1 ">Mission</label>
                <select type="text" asp-for="Timesheet.MissionId" class="form-select form-control" placeholder="Select your Mission" id="GMission" onchange="Goalvalidation();">
                    <option value="">Select your mission</option>
                    @foreach (var obj in Model.goalmissions)
                    {
                        <option value="@obj.Mission.MissionId">@obj.Mission.Title</option>
                    }
                </select>
                <div id="GMissionError" style="color:red"></div>
                <label class="mb-1 mt-3">Actions</label>
                <input type="number" id="Goal" asp-for="Timesheet.Action" class="form-control" placeholder="Enter Actions" onkeyup="Goalvalidation();">
                <div id="GoalError" style="color:red"></div>
                <label class="mb-1 mt-3"> Date </label>
                <div class="form-group">
                    <input type="date" id="Date" asp-for="Timesheet.DateVolunteereed" id="sDate" class="form-control" onchange="Goalvalidation();">
                </div>
                <div id="GDateError" style="color:red"></div>
                <label class="mb-1 mt-3" for="exampleFormControlTextarea1">Message</label>
<textarea class="form-control" asp-for="Timesheet.Notes" id="exampleFormControlTextarea1" rows="4" placeholder="Enter your message..."></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Close
                </button>
                <button type="submit" id="GSubmitbtn" name="tid" value="@Model.Timesheet.TimesheetId" class="btn btn-primary" disabled>Submit</button>
            </div>
        </div>
    </div>
</form>





