@* @using CIPLATFORM.Entities.ViewModels
    @model ProfileViewModel

    <style>

    table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    }

    table tbody {
    display: table;
    width: 100%;
    }

    table, tr, td, th {
    padding: 10px;
    margin: auto;
    border: none;
    }

    .profile-nav {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    }

    .nav-item {
    list-style-type: None;
    }

    .profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    }
    </style>



    <div class="container">
    <h2 class="mb-4 mt-4">Volunteering Timesheet</h2>
    <div class="row">
    <div class="col-lg-6">
    <div class="container">
    <div class="border">
    <div class="container">
    <div class="row mt-4">
    <div class="col-6">
    <h6>Volunteering Hours</h6>
    </div>
    <div class="col-6 d-flex justify-content-end">



    <button type="button" class="btn btn-outline-warning rounded-pill" onclick="getActivity();" data-bs-target="#TimesheetTime"
    data-bs-toggle="modal" >
    <i class="bi bi-plus"></i>
    Add
    </button>


    <div class="modal fade" id="exampleModal1" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">

    @{
    Html.RenderPartial("_TimeCard");

    }

    </div>

    </div>

    </div>
    <table class="table ">
    <tbody>
    <tr class=" mt-3 mb-3">

    <th scope="col"><b>Mission</b> </th>
    <th scope="col"><b>Date</b> </th>
    <th scope="col"><b>Hours</b> </th>
    <th scope="col"> <b>Minutes</b> </th>
    <th scope="col"></th>
    </tr>

    @foreach (var obj in Model.timesheets)
    {
    <tr class=" mt-3 mb-3">
    <td scope="col">@obj.Mission.Title</td>
    <td scope="col">@obj.DateVolunteereed.ToString().Substring(0,10)</td>
    <td scope="col">@obj.Time.ToString().Substring(0,2)h</td>
    <td scope="col">@obj.Time.ToString().Substring(3,2)min</td>
    <td scope="col">
    <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#exampleModal1">
    <i class="bi bi-pencil-square" style="color: coral;"></i>
    </button>
    <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#exampleModal1">
    <i class="bi bi-trash ms-3"></i>
    </button>
    </td>

    </tr>
    }
    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>


    <div class="col-lg-6 mt-lg-0 mt-3">
    <div class="container">
    <div class="border">
    <div class="container">
    <div class="row mt-4">
    <div class="col-6">
    <h6>Volunteering Goals</h6>
    </div>
    <div class="col-6 d-flex justify-content-end">
    <button type="button" class="btn btn-outline-warning rounded-pill"
    data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="bi bi-plus"></i>
    Add
    </button>


    <div class="modal fade" id="exampleModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">

    @{
    Html.RenderPartial("_GoalCard");

    }

    </div>


    </div>

    </div>
    <table class="table ">
    <tbody>
    <tr class="  mt-3 mb-3">
    <th scope="col"><b>Mission</b> </th>
    <th scope="col"> <b>Date</b> </th>
    <th scope="col"> <b>Action</b> </th>

    <th scope="col"></th>

    </tr>

    @foreach (var obj in Model.goaltimesheets)
    {
    <tr class=" mt-3 mb-3">
    <td scope="col">@obj.Mission.Title</td>
    <td scope="col">@obj.DateVolunteereed.ToString().Substring(0,10)</td>
    <td scope="col">@obj.Action</td>

    <td scope="col">
    <button type="button" class="btn p-0" data-bs-toggle="modal"
    data-bs-target="#exampleModal">
    <i class="bi bi-pencil-square" style="color: coral;"></i>
    </button>
    <button type="button" class="btn p-0" data-bs-toggle="modal"
    data-bs-target="#exampleModal">
    <i class="bi bi-trash ms-3"></i>
    </button>
    </td>
    </tr>
    }
    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>


*@










@using CIPLATFORM.Entities.ViewModels
@model ProfileViewModel



<style>

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

        table tbody {
            display: table;
            width: 100%;
        }

    table, tr, td, th {
        padding: 10px;
        margin: auto;
        border: none;
    }

    .profile-nav {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .nav-item {
        list-style-type: None;
    }

    .profile {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .scroll-hide table {
        max-height: 800px;
        max-width: 800px;
        /* border: 2px solid #f3f3f3;
        padding-left: 16px;*/
        overflow: auto;
        /* this will hide the scrollbar in mozilla based browsers */
        overflow: -moz-scrollbars-none;
        scrollbar-width: none;
        /* this will hide the scrollbar in internet explorers */
        -ms-overflow-style: none;
    }

        /* this will hide the scrollbar in webkit based browsers - safari, chrome, etc */
        .scroll-hide table::-webkit-scrollbar {
            width: 0 !important;
            display: none;
        }

</style>

<hr />



<div class="container">
    <h2 class="mb-4 mt-4">Volunteering Timesheet</h2>
    <div class="row">
        @if (TempData["true"] != null)
        {
            <script type="text/javascript">
                toastr.success('@TempData["true"]')
            </script>
        }
        @if (TempData["false"] != null)
        {
            <script type="text/javascript">
                toastr.success('@TempData["false"]')
            </script>
        }

        @if (TempData["delete"] != null)
        {
            <script type="text/javascript">
                toastr.error('@TempData["delete"]')
            </script>
        }
        <div class="col-lg-6">
            <div class="container">
                <div class="border">
                    <div class="container">
                        <div class="row mt-4">
                            <div class="col-6">
                                <h6>Volunteering Hours</h6>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <button type="button" class="btn btn-outline-warning rounded-pill" data-bs-toggle="modal" onclick="getActivity();" data-bs-target="#TimesheetTime">
                                    <i class="bi bi-plus"></i>
                                    Add
                                </button>
                                <div class="modal fade" id="TimesheetTime" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    @{
                                        Html.RenderPartial("_TimeCard");
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="scroll-hide">
                            <table class="table ">
                                <tbody>
                                    <tr class=" mt-3 mb-3">
                                        <th scope="col"><b>Mission</b> </th>
                                        <th scope="col"><b>Date</b> </th>
                                        <th scope="col"><b>Hours</b> </th>
                                        <th scope="col"><b>Minutes</b> </th>
                                        <th scope="col"></th>
                                    </tr>
                                    @foreach (var obj in Model.timesheets)
                                    {
                                        <tr class=" mt-3 mb-3">
                                            <td scope="col">@obj.Mission.Title</td>
                                            <td scope="col">@obj.DateVolunteereed.ToString().Substring(0,10)</td>
                                            <td scope="col">@obj.Time.Value.Hours h</td>
                                            <td scope="col">@obj.Time.Value.Minutes min</td>
                                            <td scope="col">
                                                <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#TimesheetTime" onclick="getActivity(@obj.TimesheetId);">
                                                    <i class="bi bi-pencil-square" style="color: coral;"></i>
                                                </button>

                                                <button type="button" class="btn p-0" @*data-bs-toggle="modal"*@ @*data-bs-target="#TimesheetDelete"*@ onclick=" if (confirm('Are you sure you want to delete?')) { return location.href=' @Url.Action("DeleteActivity", "Profile" ,new {tid = @obj.TimesheetId})' } ">
                                                <i class="bi bi-trash ms-3"></i>
                                            </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mt-lg-0 mt-3">
            <div class="container">
                <div class="border">
                    <div class="container">
                        <div class="row mt-4">
                            <div class="col-6">
                                <h6>Volunteering Goals</h6>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <button type="button" class="btn btn-outline-warning rounded-pill" onclick="getgoalActivity()" data-bs-toggle="modal" data-bs-target="#TimesheetGoal">
                                    <i class="bi bi-plus"></i>
                                    Add
                                </button>
                                <div class="modal fade" id="TimesheetGoal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    @{
                                        Html.RenderPartial("_GoalCard");
                                    }

                                </div>
                            </div>
                        </div>
                        <table class="table ">
                            <tbody>
                                <tr class=" mt-3 mb-3">
                                    <th scope="col"><b>Mission</b></th>
                                    <th scope="col"><b>Date</b></th>
                                    <th scope="col"><b>Action</b></th>
                                    <th scope="col"></th>
                                </tr>
                                @foreach (var obj in Model.goaltimesheets)
                                {
                                    <tr class=" mt-3 mb-3">
                                        <td scope="col">@obj.Mission.Title</td>
                                        <td scope="col">@obj.DateVolunteereed.ToString().Substring(0,10)</td>
                                        <td scope="col">@obj.Action</td>
                                        <td scope="col">
                                            <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#TimesheetGoal" onclick="getgoalActivity(@obj.TimesheetId)">
                                                <i class="bi bi-pencil-square" style="color: coral;"></i>
                                            </button>
                                            <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#TimesheetGoal">
                                                <i class="bi bi-trash ms-3"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
