@using CIPLATFORM.Entities.ViewModels
@model CardsViewModel

<style>

    input[type=range] {
        -webkit-appearance: none;
        width: 150px;
        height: 10px;
        background-color: #F88634;
        border-radius: 5px;
    }

        input[type=range]:focus {
            outline: none;
        }

        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            background-color: orange;
            border-radius: 50%;
            cursor: pointer;
        }

    .main-page {
        color: red !important;
    }
</style>
<div id="grid">



    @{
        var a = ViewBag.UId;
    }
    <div class=""><h3>Explore <b>@ViewBag.totalMission missions</b></h3> </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

        @foreach (var item in Model.missions)
        {
            <div class="col">
                <div class="card ">
                    <img src=~/images/@(item.MissionMedia.FirstOrDefault()?.MediaPath) class="card-img-top" alt="...">
                    <div class="position-relative">
                        <div class="position-absolute top-100 start-50 translate-middle round p-2 title" style="background-color: white;">
                            @item.Theme.Title
                        </div>
                    </div>

                    <div class="card-img-overlay">
                        <div class="row">
                            <div class="col-6 ps-0">

                                @{
                                    if (item.MissionApplications.Any(m => m.UserId == ViewBag.UId && m.ApprovalStatus == "Approve"))
                                    {
                                        <p class="text">
                                            <button class="btn rounded-5 disabled" style="background-color:orange ; opacity: 50%; border-radius:0px 20px 20px 0px;">

                                                <span style="color:#D3E0D1 ; ">Applied</span>
                                            </button>
                                        </p>
                                    }
                                }


                            </div>
                            <div class="col-6">
                                <p class="text-end text">
                                    <button class="btn btn-box disabled" style="background-color: black ; opacity: 50%;">
                                        <img src="~/images/pin.png" class="mx-2 cancle-img" alt="">
                                        <span style="color: white ; ">@item.City.Name</span>
                                    </button>
                                </p>
                            </div>

                        </div>


                        <div class="pt-1 text-end">



                            @if (item.FavoriteMissions.Any(x => x.MissionId == item.MissionId && x.UserId == a))
                            {
                                <button class="btn btn-box rounded-5" onclick="AddMissionToFavourite(@item.MissionId)" style="background-color: rgb(65, 60, 60) ; opacity: 45%;">
                                    <i class="bi bi-heart-fill" style="color:red; font-size:20px" id="add_@item.MissionId"></i>
                                </button>
                            }

                            else
                            {
                                <button class="btn btn-box rounded-5" onclick="AddMissionToFavourite(@item.MissionId)" style="background-color: rgb(65, 60, 60) ; opacity: 45%;">
                                    <i class="bi bi-heart" style="color:white; font-size:20px" id="add_@item.MissionId"></i>
                                </button>
                            }

                        </div>

                        <div class="text-end mt-3" id="recommand">

                            <button class="btn btn-box rounded-5" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: black ; opacity: 50%;">
                                <img src="~/images/user.png" class=" img-fluid cancle-img" alt="">
                            </button>

                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Recommand To Co-Worker</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="background-color:#F9F9F8" onclick="recommandToCoWorker(@item.MissionId)">


                                            @foreach (var item1 in Model.coworkers)
                                            {

                                                <div class="d-flex justify-content-start">
                                                    <input type="checkbox" value="@item1.UserId" />
                                                    <span class="ms-3" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"> @item1.FirstName @item1.LastName</span>
                                                </div>
                                            }

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">
                            @item.ShortDescription
                        </p>
                        <div class="container p-2">
                            <div class="row d-flex">
                                <div class="col-md-6">
                                    @item.OrganizationName
                                </div>
                                <div class="col-md-6">
                                    @*   @if (true)
                                        {
                                        for (var i = 0; i < (@item.MissionRatings.Rating); i++)
                                        {
                                        <i class="bi bi-star-fill checked"></i>
                                        }
                                        for (var i = 0; i < 5 - (@item.MissionRatings.Rating); i++)
                                        {
                                        <i class="bi bi-star"></i>
                                        }
                                        }*@
                                    @*   <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>*@
                                    @* @(item.MissionRatings.FirstOrDefault()?.Rating)*@
                                    @* @for (int i = 1; i <= (int)@item.MissionRatings.Average(x => x.Rating); i++)
                                        {
                                        <i class="bi bi-star-fill" style="color: #F8D441;"></i>
                                        }
                                        @for (int i = 1; i <= 5 - (int)@item.MissionRatings.Average(x => x.Rating); i++)
                                        {
                                        <i class="bi bi-star" style="color: #F8D441;"></i>
                                        }*@

                                    @if (true)
                                    {

                                        var ratings = item.MissionRatings.Average(x => x.Rating);
                                        var fullStars = (int)ratings;
                                        var partialStar = ratings - fullStars;
                                        var emptyStars = 5 - fullStars - (partialStar > 0 ? 1 : 0);



                                        @for (var i = 0; i < fullStars; i++)
                                        {
                                            <i class="bi bi-star-fill" style="color: #F8D441;"></i>
                                        }
                                        @if (partialStar > 0)
                                        {
                                            <i class="bi bi-star-half" style="color: #F8D441;"></i>
                                        }
                                        @for (var i = 0; i < emptyStars; i++)
                                        {
                                            <i class="bi bi-star" style="color: #F8D441;"></i>
                                        }



                                    }

                                </div>
                            </div>
                        </div>
                        <div class="wrapper d-flex justify-content-center">
                            <hr class="divider">
                            <div class=" d-flex justify-content-center b2 ">

                                <div class="d-flex justify-content-center .left .right ">
                                    @*   @item.StartDate.ToShortDateString() until @item.EndDate.ToShortDateString()*@
                                    @{
                                        if (item.MissionType == "Goal")
                                        {
                                            <span class="textline">@item.GoalMissions.FirstOrDefault()?.GoalObjectiveText </span>
                                        }
                                        else if (item.StartDate <= DateTime.Now && DateTime.Now <= item.EndDate)
                                        {
                                            <span>Ongoing Opportunity</span>
                                        }
                                        else
                                        {
                                            <span>@item.StartDate.ToString().Substring(0,10) until @item.EndDate.ToString().Substring(0,10) </span>
                                        }
                                    }

                                </div>

                            </div>
                            <hr class="divider">
                        </div>
                        <div class="container">
                            <div class="row mt-2">
                                <div class="col-6 ">
                                    @{
                                        if (item.MissionType == "Goal")
                                        {
                                            int seates = @item.GoalMissions.FirstOrDefault().GoalValue;
                                            int apply = @item.MissionApplications.Count();
                                            int left = seates - apply;

                                            <span>@left</span>
                                            <br>
                                            <span>seats left</span>
                                        }
                                        else
                                        {
                                            int apply = @item.MissionApplications.Count();
                                            <span>@apply</span>
                                            <br>
                                            <span>Already Volunteered</span>
                                        }
                                    }

                                </div>
                                <div class="col-6 ">

                                    @{
                                        if (item.MissionType == "Goal")
                                        {
                                            int seates = @item.GoalMissions.FirstOrDefault().GoalValue;
                                            int apply = @item.MissionApplications.Count();
                                            float per = (((float)apply / (float)seates) * (float)(100));
                                            <input type="range" class="mt-1 i1" id="slider" name="slider" min="0" max="100" value=@per>
                                            <p>@apply Achieved</p>
                                        }
                                        else
                                        {
                                            <i class="bi bi-clock"></i> @item.EndDate.ToString().Substring(0,10)
                                            <br>
                                            <span class="small text-muted">&nbsp &nbsp Deadline</span>
                                        }
                                    }



                                </div>
                            </div>
                        </div>

                        <hr>
                        <div class="d-flex justify-content-center apply2">
                            @{
                                if (item.MissionApplications.Any(m => m.UserId == ViewBag.UId && m.ApprovalStatus == "Approve"))
                                {
                                    <button type="button" class="btn btn-outline apply">
                                        <a asp-controller="Platform" asp-action="MissionListing" asp-route-mid="@item.MissionId" style="text-decoration:none;color:black">
                                            View Deatail
                                            <i class=" ms-2 bi bi-arrow-right-short"></i>
                                        </a>
                                    </button>
                                }
                                else if (item.EndDate < DateTime.Now)
                                {
                                    <button type="button" class="btn btn-outline apply">
                                        <a asp-controller="Platform" asp-action="MissionListing" asp-route-mid="@item.MissionId" style="text-decoration:none;color:black">
                                            View Deatail
                                            <i class=" ms-2 bi bi-arrow-right-short"></i>
                                        </a>
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-outline apply">
                                        <a asp-controller="Platform" asp-action="MissionListing" asp-route-mid="@item.MissionId" style="text-decoration:none;color:black"> Apply <i class=" ms-2 bi bi-arrow-right-short"></i></a>
                                    </button>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>





        }

    </div>



</div>


<nav aria-label="Page navigation example mt-4">
    <ul class="pagination justify-content-center" onchange="temp()">

        @{
            double totalpages = ViewBag.Totalpages;



            for (int i = 1; i <= totalpages; i++)
            {
                @if (i == ViewBag.pg_no)
                {
                    <li class="page-item ">
                        <a class="page-link main-page" onclick="temp(@i)">@i </a>

                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" onclick="temp(@i)">@i</a>
                    </li>
                }


            }
        }




    </ul>
</nav>