@using CIPLATFORM.Entities.ViewModels
@model MissionListingViewModel
<div class="container">
    <div class="row">
        <div class="col-12  pt-3">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link1 active" data-bs-toggle="tab" data-bs-target="#tab-1"
                            type="button" role="tab" aria-controls="home" aria-selected="true">
                        Recent
                        Volunteers
                    </button>
                </li>
            </ul>
            <div class="row mt-3">
                @foreach (var data in Model.missionapplications)
                {
                    <div class="col-4">
                        <div class="row">
                            <img src=~/images/@data.User.Avatar class="img50" alt="">
                        </div>
                        <div class="row">
                            <span class="d-flex justify-content-center">   @data.User.FirstName </span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>




@*

    <nav aria-label="Page navigation example mt-4">
    <ul class="pagination justify-content-center">

    @{
    double totalpages = ViewBag.Totalpages;



    for (int i = 1; i <= totalpages; i++)
    {
    @if (i == ViewBag.pg_no)
    {
    <li class="page-item ">
    <a class="page-link">@i </a>

    </li>
    }
    else
    {
    <li class="page-item">
    <a class="page-link">@i</a>
    </li>
    }


    }
    }




    </ul>
    </nav>
*@








@*<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center" onclick="AddUserToRecent()">

        @{
            double totalpages = ViewBag.Totalpages;
            int pg = 1;
            for (int i = 1; i <= totalpages; i++)
            {
                @if (i == ViewBag.pg_no)
                {
                    <li class="page-item ">
                        <a class="page-link" onclick="AddUserToRecent(@Model.missions.MissionId,@ViewBag.UId,@i)">@i </a>

                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" onclick="AddUserToRecent(@Model.missions.MissionId,@ViewBag.UId ,@i)">@i</a>
                    </li>
                }


            }
        }

    </ul>
</nav>*@

<script>
              function PageIndex(x, y) {
    console.log(x,y);
    $.ajax({
        url: '/Platform/recentVolunteers',
        method: "POST",
        data: {
            'mid': x,
            'pageIndex': y
        },
        success: function (data) {
            debugger
            console.log(data);
            console.log("Pagination");
            $("#recentVolunter").html(data);
        },
        error: function (request, error) {
            console.log("Error in Pagination");
           alert('Error in Pagination');
        },
    });
}
</script>

