@using CIPLATFORM.Entities.ViewModels
@using Microsoft.AspNetCore.Html

@model StoryListingViewModel
<style>
.pagination > li > a
{
    background-color: white;
    color: #5A4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
     color: #FFFFFF;
    background-color: #F88634;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181 !Important;
}

.pagination > .active > a:hover
{
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
}
</style>
<div class="container mt-3">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

        @foreach (var item in Model.stories)
        {
            <div class="col">
                <div class="card ">
                    <div class="bg">
                        <img src="~/images/A/@item.StoryMedia.Where(x => x.Type =="png").FirstOrDefault().Path" class="banner1" class="card-img-top" alt="...">
                        <div class="banner-header d-flex justify-content-center ">
                            <div class="  apply2">
                                <button type="button" class="btn btn-outline apply "
                                    style="margin-bottom: 200px;  ">
                                    <a asp-controller="Platform" asp-action="StoryDetail"  asp-route-sid="@item.StoryId" style="text-decoration:none;color:black;">
                                        View Details
                                        <i class="bi bi-arrow-right"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative">
                        <div class="position-absolute top-100 start-50 translate-middle round p-2 title"
                         style="background-color: white;">
                            @item.Mission.Theme.Title
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">
                    @{
                            string htmlString = @item.Description;
                            HtmlString renderedHtml = new HtmlString(htmlString);
                            }

                            @renderedHtml
                        </p>

                        <!-- <div class="container"> -->
                    <div class="col-12">
                            <div class="row mt-3" style="background-color: white">
                                <div class="col-12 d-flex justify-content-start align-items-start">
                                    <img src="~/images/@item.User.Avatar" style="border-radius: 50%; height: 4.5em;"
                                     alt="">
                                    <span class="d-flex justify-content-center  mt-4 ms-3"> @item.User.FirstName @item.User.LastName </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }



    </div>
</div>



<br />






<nav aria-label="Page navigation example mt-5">
    <ul class="pagination justify-content-center" onchange="story()">
        @* <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous" onclick="Previous(2)">
            <span aria-hidden="true">&laquo;</span>
            </a>
            </li>*@
        @{
            double totalpages = ViewBag.Totalpages;



            for (int i = 1; i <= totalpages; i++)
            {
                @if (i == ViewBag.pg_no)
                {
                    <li class="page-item ">
                        <a class="page-link" onclick="story(@i)">@i </a>

                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" onclick="story(@i)">@i</a>
                    </li>
                }


            }
        }



        @* <li class="page-item">
            <a class="page-link" href="#" aria-label="Next" onclick="NextPage(1)">
            <span aria-hidden="true">&raquo;</span>
            </a>
            </li>*@
    </ul>
</nav>