@using CIPLATFORM.Entities.ViewModels
@using Microsoft.AspNetCore.Html

@model StoryListingViewModel



    @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Hello, world!</title>*@
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/Home.css">
<link rel="stylesheet" href="~/css/StoryDetail.css">


<hr />

<div class="container">


    <div class="card mb-3 p-0">
        <div class="row g-0">
            <div class="col-lg-6 ">

                <div class="container p-0 pb-5 h-100" style="max-width: 100%; height: 100%;">
                    @for (int i = 1; i <= Model.storymedias.Count; i++)
                    {
                        <div class="mySlides">

                            <img src="~/images/A/@(Model.storymedias[i-1].Path)" style="width:100%;">
                        </div>
                    }

                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>

                    <div class="row g-1">

                        @for (int i = 1; i <= Model.storymedias.Count; i++)
                        {
                            <div class="col">
                                <img class="demo cursor" src="~/images/A/@(Model.storymedias[i-1].Path)" style="width:100%;" onclick="currentSlide(@i)">
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card-body">

                    <div class="row mt-3">
                        <div class="col-4">
                            <div class="row">
                                <img src=~/images/@Model.story.User.Avatar
                                     style=" width: 130px;height: 100px; border-radius: 50%;" class="img50" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span>@Model.story.User.FirstName  @Model.story.User.LastName</span>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-outline-secondary " style=" border-radius: 18px;">
                                <i class="bi bi-eye"></i>
                                @Model.story.StoryViews.Count
                            </button>
                         
                        </div>
                    </div>
                    <p>
                        @Model.story.User.WhyIVolunteer;
                    </p>
                    <div class="row">

                        <div class="col-12 col-md-6 mt-2" id="recommand">

                            <button type="button" class="btn btn-outline w-100  rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background: #F8863400 0% 0% no-repeat padding-box;
                                border: 2px solid #020201;
                              border-radius: 24px;
                                opacity: 1; color:#020202">
                                <i class="bi bi-square-fill  "><span> Recommend to a Co-Worker</span></i>
                            </button>


                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Recommand To Co-Worker</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="background-color:#F9F9F8"  onchange="recommandStory(@Model.story.StoryId)">
                                              @foreach (var item in Model.alreadyinvite)
                                                {

                                                    <div class="d-flex justify-content-start">
                                                      <i class="bi bi-check-circle-fill text-black"></i>
                                                        <span class="ms-3" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"> @item.ToUser.FirstName @item.ToUser.LastName</span>
                                                    </div>
                                                } 



                                            @foreach (var item in Model.coworkers)
                                            {

                                                <div class="d-flex justify-content-start">
                                                    <input type="checkbox" value="@item.UserId" /> 
                                                    <span class="ms-3" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"> @item.FirstName @item.LastName</span>
                                                </div>
                                            }

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6  mt-2 apply2">
                            <button type="submit" class="btn btn-outline w-100 apply">

                                <a asp-controller="Platform" asp-action="MissionListing" asp-route-mid="@Model.story.MissionId" style="text-decoration:none;color:black;">
                                    <span> Open Mission </span>
                                    <i class="bi bi-arrow-right ms-3"></i>
                                </a>

                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row mt-4">
        <div class="col-12 col-lg-12">

            <h5 class="">@Model.story.Title</h5>
            <hr>
        </div>

        <p>



            @{
                string htmlString = @Model.story.Description;
                HtmlString renderedHtml = new HtmlString(htmlString);
            }

            @renderedHtml
        </p>
    </div>
    <hr>

    <footer class="navbar bg-body-tertiary mt-3 ms-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Privacy Policy</a>
        </div>
    </footer>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
@*  <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>*@
<script>
    // firefox, chrome
    //  document.body.scroll = "no"; // ie only
    let slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("demo");
        let captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>


@*  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>*@

