@using CIPLATFORM.Entities.ViewModels
@model CardsViewModel

@foreach (var item in @Model.notificationMessages)
{
    @if (item.Type == "MissionApplication")
    {
        <li>
            <a asp-controller="Platform" asp-action="MissionListing" asp-route-mid="@item.Id" style="text-decoration:none; color:black;">
                <div class="row">
                    <div class="col-1">
                        @if (item.Message.Contains("approved"))
                        {
                            <i class="bi bi-check2-square ms-2" style="font-size: 20px; "></i>
                             
                        }
                        else
                        {
                            <i class="bi bi-x-square ms-2" style="font-size: 20px; "></i>
                        }
                    </div>
                    <div class="col-9"> @item.Message</div>

                    <div class="col-2">
                        @if (item.Status == "NotRead")
                        {
                            <i class="bi bi-circle-fill " style="font-size: 12px; color: #ffaf75; "></i>
                        }
                        else
                        {
                            <i class="bi bi-check-circle-fill ms-2" style="color:grey;"></i>
                        }

                    </div>
                </div>
            </a>
        </li>
    }
    @if (item.Type == "Story")
    {
        <li>
            <a asp-controller="Platform" asp-action="StoryDetail" asp-route-sid="@item.Id" style="text-decoration:none; color:black;">
                <div class="row">
                    <div class="col-1">
                        @if (item.Message.Contains("approved"))
                        {
                            <i class="bi bi-check2-square ms-2" style="font-size: 20px; "></i>
                        }
                        else
                        {
                            <i class="bi bi-x-square ms-2" style="font-size: 20px; "></i>
                        }
                    </div>
                    <div class="col-9"> @item.Message</div>

                    <div class="col-2">
                        @if (item.Status == "NotRead")
                        {
                            <i class="bi bi-circle-fill " style="font-size: 12px; color: #ffaf75; "></i>
                        }
                        else
                        {
                            <i class="bi bi-check-circle-fill ms-2" style="color:grey;"></i>
                        }

                    </div>
                </div>
            </a>
        </li>
    }
        @if (item.Type == "RecommendedMission")
    {
        <li>
            <a asp-controller="Platform" asp-action="MissionListing" asp-route-mid="@item.Id" style="text-decoration:none; color:black;">
                <div class="row">
                    <div class="col-1">
                          <img src=~/images/@ViewBag.Avtar class="profile-nav" alt="">
                        @*<i class="bi bi-check2-square ms-2" style="font-size: 20px; "></i>*@
                    </div>
                    <div class="col-9"> @item.Message</div>

                    <div class="col-2">
                        @if (item.Status == "NotRead")
                        {
                            <i class="bi bi-circle-fill " style="font-size: 12px; color: #ffaf75; "></i>
                        }
                        else
                        {
                            <i class="bi bi-check-lg" style="font-size: 20px; "></i>
                        }

                    </div>
                </div>
            </a>
        </li>
    }
    @if (item.Type == "RecommendedStory")
    {
        <li>
            <a asp-controller="Platform" asp-action="StoryDetail" asp-route-sid="@item.Id" style="text-decoration:none; color:black;">
                <div class="row">
                    <div class="col-1">
                        <i class="bi bi-check2-square ms-2" style="font-size: 20px; "></i>
                    </div>
                    <div class="col-9"> @item.Message</div>

                    <div class="col-2">
                        @if (item.Status == "NotRead")
                        {
                            <i class="bi bi-circle-fill " style="font-size: 12px; color: #ffaf75; "></i>
                        }
                        else
                        {
                            <i class="bi bi-check-lg" style="font-size: 20px; "></i>
                        }

                    </div>
                </div>
            </a>
        </li>
    }
     @if (item.Type == "NewMission")
    {
        <li>
            <a asp-controller="Platform" asp-action="MissionListing" asp-route-mid="@item.Id" style="text-decoration:none; color:black;">
                <div class="row">
                    <div class="col-1">
                        <i class="bi bi-check2-square ms-2" style="font-size: 20px; "></i>
                    </div>
                    <div class="col-9"> @item.Message</div>

                    <div class="col-2">
                        @if (item.Status == "NotRead")
                        {
                            <i class="bi bi-circle-fill " style="font-size: 12px; color: #ffaf75; "></i>
                        }
                        else
                        {
                            <i class="bi bi-check-lg" style="font-size: 20px; "></i>
                        }

                    </div>
                </div>
            </a>
        </li>
    }
}