<div class="container">
<div class="row">
    <div class="col-lg-6 col-12 ">
        <form class="d-flex mt-md-3 " role="search">
            <i class="bi bi-search mt-2 ms-2"></i>
            <input class="form-control mx-1" type="text" placeholder="Search Missions..."
                   aria-label="Search" id="searchb" onkeyup="temp(1)">
        </form>
    </div>
    <div class="col-lg-6 col-12 mt-3">
        <div class="row">
            <div class="col-6 col-sm-3  border-white xyz p-0" aria-label="Default select example" placeholder="Country" id="countryId" onchange="temp(1); GetCity();   filterBadges();">
                <a class="nav-link  text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Country <i class="bi bi-chevron-down ms-2"></i>
                </a>
                
                <ul class="dropdown-menu">

                    @foreach (var item in @ViewBag.countries)
                    {

                        <li><input type="checkbox" name="country" id="@item.CountryId" class="country_@item.CountryId" value="@item.Name" /> @item.Name </li>
                    }
                </ul>
            </div>
            <div class="col-6 col-sm-3  border-white xyz p-0" aria-label="Default select example" onchange="temp(1);   filterBadges();">

                <a class="nav-link  text-dark" href="#" role="button"  data-bs-toggle="dropdown" aria-expanded="false">
                    City <i class="bi bi-chevron-down ms-2"></i>
                </a>
                <ul class="dropdown-menu" id="selectCityList">
                    @foreach (var item in @ViewBag.Cities)
                    {
                        <li>
                            <input type="checkbox" name="city" id="@item.CityId" class="city_@item.CityId" value="@item.Name" />
                            @item.Name
                        </li>
                    }
                </ul>
            </div>
            <div class="col-6 col-sm-3  border-white xyz p-0" aria-label="Default select example" id="theme" onchange="temp(1);   filterBadges();">
                <a class="nav-link  text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Themes <i class="bi bi-chevron-down ms-2"></i>
                </a>
                <ul class="dropdown-menu">

                    @foreach (var item in @ViewBag.Themes)
                    {

                        <li><input type="checkbox" name="theme" id="@item.MissionThemeId" class="theme_@item.MissionThemeId" value="@item.Title" /> @item.Title </li>
                    }
                </ul>
            </div>
            <div class="col-6 col-sm-3  border-white xyz p-0" aria-label="Default select example" id="skill" onchange="temp(1);   filterBadges(); ">

                <a class="nav-link  text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Skills <i class="bi bi-chevron-down ms-2"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">

                    @foreach (var item in @ViewBag.Skills)
                    {

                        <li><input type="checkbox" name="skill" id="@item.SkillId" class="skill_@item.SkillId" value="@item.Skill.SkillName" /> @item.Skill.SkillName </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
</div>