@using CIPLATFORM.Entities.ViewModels
@model AdminViewModel
<div id="cmspage">
    <table class="table mt-3">
        <tbody>
            <tr style="background-color: #F8F9FC;">
                <th scope="col">Banner Text</th>
                <th scope="col">Banner Image</th>
                 <th scope="col">SortOrder</th>


                <th scope="col" style="text-align: center;">Actions</th>
            </tr>
            @foreach (var obj in Model.banners)
            {
                <tr>
                    <td class="text-truncate" style="max-width: 300px;">@obj.Text</td>
                    <td>@obj.Image</td>                
                   <td>@obj.SortOrder</td>



                    <td style="text-align: center;">
                        <button type="button" class="btn p-0" onclick="editform('nav-banner');getdata('nav-banner',@obj.BannerId);">
                            <i class="bi bi-pencil-square" style="color: coral;"></i>
                        </button>
                        <button type="button" class="btn p-0" onclick=" if (confirm('Are you sure you want to delete?')) { return location.href=' @Url.Action("DeleteActivity", "Admin" ,new {id = @obj.BannerId ,page = 8})' } ">
                            <i class=" bi bi-trash ms-3"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    
    <nav aria-label="Page navigation example mt-5" id="cmspage">
        <ul class="pagination justify-content-end me-5" onchange="searchuser(1,'cms')">

            @{
                double totalpages = ViewBag.Totalpages8;



                for (int i = 1; i <= totalpages; i++)
                {
                    @if (i == ViewBag.pg_no)
                    {
                        <li class="page-item  ">
                            <a class="page-link  " onclick="searchuser(@i,'cms')">@i </a>

                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" onclick="searchuser(@i,'cms')">@i</a>
                        </li>
                    }


                }
            }


        </ul>
    </nav>
</div>
<div class="border" id="add" style="display: none;">
    <h3 class="p-3 m-0" style="background-color: #F8F9FC;"> Add </h3>
    <hr class="m-0">
    <form method="post" class="px-3">
        <label for="select mission" class="mt-3"> Banner Text </label>
        <textarea asp-for="banner.Text"  type="text" class="form-control" id="CMSTitleA" onkeyup="CMSvalidation('A');"></textarea>
        <div id="CMSTitleErrorA" class="text-danger"></div>
        <label for="cms1" class="mt-3"> Banner Image</label>
        <div>
         <input asp-for="banner.Image"  type="file" accept="*"  />
        </div>
        <label for="sortOrder" class="mt-3">Sort Order </label>
        <select asp-for="banner.SortOrder" placeholder="Sort Order">
            <option value="">Select order</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
       
        <div class="row my-3">
            <div class="col-10"></div>
            <div class="col-2">
                <button type="button" class="cancell rounded-pill btn btn-outline-dark"
                        onclick="addpage('nav-banner');">
                    Cancel
                </button>
                <button type="submit" class="threebt rounded-pill btn btn-outline-warning" value="8" name="command" >
                    Save
                </button>
            </div>
        </div>
    </form>
</div>
<div class="border" id="edit" style="display: none;">
    <h3 class="p-3 m-0" style="background-color: #F8F9FC;"> Edit </h3>
    <hr class="m-0">


     <form method="post" class="px-3">
        <label for="select mission" class="mt-3"> Banner Text </label>
         <input asp-for="banner.BannerId" type="hidden" class="form-control" id="formGroupExampleInput">
        <textarea asp-for="banner.Text"  type="text" class="form-control" id="CMSTitleA" onkeyup="CMSvalidation('A');"></textarea>
        <div id="CMSTitleErrorA" class="text-danger"></div>
        <label for="cms1" class="mt-3"> Banner Image</label>
        <div>
         <input asp-for="banner.Image"  type="file" accept="*"  />
        </div>
        <label for="sortOrder" class="mt-3">Sort Order </label>
        <select asp-for="banner.SortOrder" placeholder="Sort Order">
            <option value="">Select order</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
       
        <div class="row my-3">
            <div class="col-10"></div>
            <div class="col-2">
                <button type="button" class="cancell rounded-pill btn btn-outline-dark"
                        onclick="editpage('nav-banner');">
                    Cancel
                </button>
                <button type="submit" class="threebt rounded-pill btn btn-outline-warning" value="8" name="command" >
                    Save
                </button>
            </div>
        </div>
    </form>
    </div>