@using CIPLATFORM.Entities.ViewModels
@model AdminViewModel

<style>


    .pagination > li > a {
        background-color: white;
        color: #5A4181;
    }

        .pagination > li > a:focus,
        .pagination > li > a:hover,
        .pagination > li > span:focus,
        .pagination > li > span:hover {
            color: #FFFFFF;
            background-color: #F88634;
            border-color: #ddd;
        }

    .pagination > .active > a {
        color: white;
        background-color: #5A4181 !Important;
        border: solid 1px #5A4181 !Important;
    }

        .pagination > .active > a:hover {
            background-color: #5A4181 !Important;
            border: solid 1px #5A4181;
        }

</style>

<div id="cmspage">


    <table class="table mt-3">
        <tbody>

            <tr style="background-color: #F8F9FC;">
                <th scope="col">Title</th>

                <th scope="col">Status</th>
                <th scope="col" style="text-align: center;">Action</th>
            </tr>
            @foreach (var obj in Model.cmspages)
            {
                <tr>
                    <td>@obj.Title</td>

                    <td> <span style="color: #3CDD5F; ">@obj.Status</span></td>


                    <td style=" text-align:center;">
                        <button type="button" class="btn p-0"
                            onclick="editform('nav-cms'); getdata('nav-cms',@obj.CmsPageId);">
                            <i class="bi bi-pencil-square" style="color: coral;"></i>
                        </button>


                        <button type="button" class="btn p-0" onclick=" if (confirm('Are you sure you want to delete?')) { return location.href='@Url.Action("DeleteActivity", "Admin" ,new {id = @obj.CmsPageId,page = 2})' } ">
                            <i class="bi bi-trash ms-3"></i>
                        </button>
                    </td>
                </tr>
            }


        </tbody>
    </table>

    <nav aria-label="Page navigation example mt-5" id="cmspage">
        <ul class="pagination justify-content-end me-5" onchange="searchuser(1,'cms')">

            @{
                double totalpages = ViewBag.Totalpages2;



                for (int i = 1; i <= totalpages; i++)
                {
                    @if (i == ViewBag.pg_no)
                    {
                        <li class="page-item  ">
                            <a class="page-link  " onclick="searchuser(@i,'cms')">@i </a>

                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" onclick="searchuser(@i,'cms')">@i</a>
                        </li>
                    }


                }
            }


        </ul>
    </nav>
</div>

<div class="border mt-3" id="add" style="display: none;">
    <h3 class="p-3 m-0" style="background-color: #F8F9FC;"> Add </h3>
    <hr class="m-0">
    <form method="post" class="px-3">
        <label for="select mission" class="mt-3"> Title </label>
        <input type="text" asp-for="CmsPage.Title" class="form-control" id="CMSTitle1" onkeyup="CMSvalidation(1);">
        <div id="CMSTitleError1" style="color:red;"></div>

        <label for="cms1" class="mt-3"> Description</label>
        <textarea id="cms1" asp-for="CmsPage.Description" cols="172" rows="10" maxlength="40000"></textarea>
        <script>
            var abc = document.getElementById("cms1");
            CKEDITOR.replace(abc);
        </script>
        <label for="select mission" class="mt-3"> Slug </label>
        <input type="text" asp-for="CmsPage.Slug" class="form-control" id="CMSSlug1" onkeyup="CMSvalidation(1);">
        <div id="CMSSlugError1" style="color:red;"></div>
        <div class="row my-3">
            <div class="col-xl-10 col-lg-8 col-md-8 col-sm-8 "></div>
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 ">
                <button type="button" class="cancell rounded-pill btn btn-outline-dark"
                        onclick="addpage('nav-cms');">
                    Cancel
                </button>
                <button type="submit" class="threebt rounded-pill btn btn-outline-warning"
                        value="2" name="command" id="CMSubmitbtn1" disabled>
                    Save
                </button>
            </div>
        </div>
    </form>
</div>
<div class="border mt-3" id="edit" style="display: none;">
    <h3 class="p-3 m-0" style="background-color: #F8F9FC;"> Edit </h3>
    <hr class="m-0">
    <form class="px-3" method="post">
        <label for="select mission" class="mt-3"> Title </label>
        <input type="text" asp-for="CmsPage.Title" class="form-control" id="CMSTitle2" onkeyup="CMSvalidation(2);">
        <div id="CMSTitleError2" style="color:red;"></div>
        <input asp-for="CmsPage.CmsPageId" type="hidden" class="form-control" id="formGroupExampleInput">

        <label for="cms2" class="mt-3"> Description</label>
        <textarea id="cms2" asp-for="CmsPage.Description" cols="172" rows="10" maxlength="40000"></textarea>
        <script>
            var abc = document.getElementById("cms2");
            CKEDITOR.replace(abc);
        </script>
        <label for="select mission" class="mt-3"> Slug </label>
        <input type="text" asp-for="CmsPage.Slug" class="form-control" id="CMSSlug2" onkeyup="CMSvalidation(2);">
        <div id="CMSSlugError2" style="color:red;"></div>

        <div class="row my-3">
            <div class="col-10"></div>
            <div class="col-2">
                <button type="button" class="cancell rounded-pill btn btn-outline-dark"
                        onclick="editpage('nav-cms');">
                    Cancel
                </button>
                <button type="submit" class="threebt rounded-pill btn btn-outline-warning"
                        value="2" id="CMSubmitbtn2" name="command" disabled>
                    Save
                </button>
            </div>
        </div>
    </form>
</div>



<script>
    function CMSvalidation(x)
    {
    var Title = $("#CMSTitle"+x).val();
    var Slug = $("#CMSSlug"+x).val();

    console.log(Title);
    console.log(Slug);
    document.getElementById('CMSubmitbtn'+x).disabled = true;

    if(Title.length == 0){
    $("#CMSTitleError"+x).text("Plaease enter the title First");
    }
    else if(Slug.length == 0){
    $("#CMSSlugError"+x).text("Plaease enter the slug First");
    }
    else{
    $("#CMSTitleError"+x).text("");
    $("#CMSSlugError"+x).text("");
    document.getElementById('CMSubmitbtn'+x).disabled = false;
    }
    }
</script>