@using CIPLATFORM.Entities.ViewModels
@model AdminViewModel

<style>
    #uploaded-images {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

        #uploaded-images img {
            max-width: 200px;
            max-height: 200px;
            margin-right: 10px;
            margin-bottom: 10px;
        }

    #drop-zone {
        border: 2px dashed #ccc;
        padding: 20px;
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .tox-notifications-container {
        display: none !important;
    }

    .file {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    output {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 15px;
        position: relative;
        border-radius: 5px;
    }

        output .image {
            height: 100%;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
            overflow: hidden;
            position: relative;
        }

            output .image img {
                height: 75px;
                width: 75px;
            }

            output .image span {
                position: absolute;
                top: -4px;
                right: 4px;
                cursor: pointer;
                font-size: 22px;
                color: white;
            }

                output .image span:hover {
                    opacity: 0.8;
                }

        output .span--hidden {
            visibility: hidden;
        }
</style>
<div id="cmspage">

    <table class="table mt-3">
        <tbody>
            <tr style="background-color: #F8F9FC;">
                <th scope="col">Mission title</th>
                <th scope="col">Mission type</th>
                <th scope="col">Start date</th>
                <th scope="col">End Date</th>
                <th scope="col" style="text-align: center;">Actions</th>
            </tr>
            @foreach (var obj in Model.missions)
            {
                <tr>
                    <td>@obj.Title</td>
                    <td>@obj.MissionType</td>
                    <td>@obj.StartDate.Value.ToShortDateString()</td>
                    <td> @obj.EndDate.Value.ToShortDateString() </td>

                    <td style="text-align: center;">
                        <button type="button" class="btn p-0" onclick="editform('nav-mission');getdata('nav-mission',@obj.MissionId);">
                            <i class="bi bi-pencil-square" style="color: coral;"></i>
                        </button>
                        <button type="button" class="btn p-0" onclick=" if (confirm('Are you sure you want to delete?')) { return location.href='@Url.Action("DeleteActivity", "Admin" ,new {id = @obj.MissionId,page = 3})' } ">
                            <i class="bi bi-trash ms-3"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>



    <nav aria-label="Page navigation example mt-5">
        <ul class="pagination justify-content-end me-5" onchange="searchuser(1,'mission')">
            @* <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous" onclick="Previous(2)">
                <span aria-hidden="true">&laquo;</span>
                </a>
                </li>*@
            @{
                double totalpages = ViewBag.Totalpages3;



                for (int i = 1; i <= totalpages; i++)
                {
                    @if (i == ViewBag.pg_no)
                    {
                        <li class="page-item  ">
                            <a class="page-link  " onclick="searchuser(@i,'mission')">@i </a>

                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" onclick="searchuser(@i,'mission')">@i</a>
                        </li>
                    }


                }
            }

        </ul>
    </nav>
</div>



<div class="border mt-3" id="add" style="display: none;">
    <h3 class="p-3 m-0" style="background-color: #F8F9FC;"> Add mission</h3>
    <hr class="m-0">
   @* <form action="" class="px-3">
        <label for="select mission" class="mt-3"> Title </label>
        <input type="text" class="form-control" id="formGroupExampleInput">
        <label for="mission1" class="mt-3"> Description</label><textarea id="mission1" cols="172" rows="10" maxlength="40000"></textarea>
        <script>
            var abc = document.getElementById("mission1");
            CKEDITOR.replace(abc);
        </script>
        <label for="select mission" class="mt-3"> Slug </label>
        <input type="text" class="form-control" id="formGroupExampleInput">

        <label class="mb-1 mt-3">Mission</label>
        <select type="text" class="form-select form-control">
            <option value="1">Select your mission</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <div class="row my-3">
            <div class="col-10"></div>
            <div class="col-2">
                <button type="button" class="cancell rounded-pill btn btn-outline-dark"
                        onclick="addpage('nav-mission');">
                    Cancel
                </button>
                <button type="submit" class="threebt rounded-pill btn btn-outline-warning"
                        value="2" name="command">
                    Save
                </button>
            </div>
        </div>
    </form>*@


    <form action="" method="post" class="px-3" enctype="multipart/form-data">
        <input type="hidden" asp-for="mission.MissionId"/>
        <label for="select mission" class="mt-3"> Title </label>
        <input type="text" asp-for="mission.Title" class="form-control" id="formGroupExampleInput">
        <label for="select mission" class="mt-3"> Short Description </label>
        <textarea type="text" asp-for="mission.ShortDescription" class="form-control" id="formGroupExampleInput"></textarea>
        <label for="mission" class="mt-3"> Description</label>
        <textarea id="mission" asp-for="mission.Description" cols="172" rows="10"
                  maxlength="40000"></textarea>
        <script>
            var mission = document.getElementById("mission");
            CKEDITOR.replace(mission);
        </script>
        <div class="row mt-3">
            <div class="col-12 col-sm-6">
                <label>Country*</label>
                <select id="countryIdb" asp-for="mission.CountryId" onchange="GetsCity('b');" class="form-select" aria-label="Default select example"
                        aria-placeholder="Select your country">
                    <option value="0">Select your country</option>
                    @foreach (var obj in @Model.countries)
                    {
                        <option value="@obj.CountryId">@obj.Name</option>
                    }
                </select>
            </div>
            <div class="col-12 col-sm-6">
                <label>City*</label>
                <select class="form-select" asp-for="mission.CityId" aria-label="Default select example"
                        aria-placeholder="Select your City" id="selectCityListb">
                    <option value="0">Select your City</option>
                    @foreach (var item in @Model.cities)
                    {

                        <option value="@item.CityId"> @item.Name</option>
                    }
                </select>
            </div>
        </div>
        <label for="select mission" class="mt-3"> Organisation Name </label>
        <input type="text" asp-for="mission.OrganizationName" class="form-control" id="formGroupExampleInput">
        <label for="select mission" class="mt-3"> Organisation Detail </label>
        <textarea type="text" asp-for="mission.OrganizationDetail" class="form-control" id="formGroupExampleInput"></textarea>
        <label for="select mission" class="mt-3"> Start Date </label>
        <input type="date" asp-for="mission.StartDate" class="form-control" id="formGroupExampleInput">
        <label for="select mission" class="mt-3"> End Date </label>
        <input type="date" asp-for="mission.EndDate" class="form-control" id="formGroupExampleInput">
        <label class="mb-1 mt-3">Mission Type</label>
        <select asp-for="mission.MissionType" type="text" class="form-select form-control">
            <option value="0">Select your mission type</option>
            <option value="Time">Time</option>
            <option value="Goal">Goal</option>

        </select>
        <label for="select mission" class="mt-3">Total Seats</label>
        <input type="text" class="form-control" id="formGroupExampleInput">
        <label for="select mission" class="mt-3"> Mission registration deadline </label>
        <input type="date" asp-for="mission.EndDate" class="form-control" id="formGroupExampleInput">
        <div class="row mt-3">
            <div class="col-12 col-sm-6">
                <label>Mission Theme</label>
                <select asp-for="mission.ThemeId" class="form-select" aria-label="Default select example"
                        aria-placeholder="Select your country">
                    <option value="0">Select your Mission Theme</option>
                    @foreach (var obj in @Model.newmissionThemes)
                    {
                        <option value="@obj.MissionThemeId">@obj.Title</option>
                    }
                </select>
            </div>
            <div class="col-12 col-sm-6">
                <label>Mission Skills</label>                
                <a class="nav-link  text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Skills
                </a>
                <ul class="dropdown-menu" id="missionSkill1">

                    @foreach (var item in @Model.newskills)
                    {

                        <li><input class="check" id="@item.SkillId" type="checkbox" onchange="misSkills();" /> @item.SkillName </li>
                    }
                </ul>
                <div id="inputSkill1" class="d-none"></div>

            </div>
            <script>
                 function misSkills()
                 {
                    var missionSkill = document.getElementById("missionSkill1");
                    var ck = missionSkill.getElementsByClassName("check");
                    console.log(ck);
                    $("#inputSkill1").empty();
                    for (i = 0; i < ck.length; i++) 
                    {
                        if (ck[i].checked) 
                        {
                            document.getElementById("inputSkill1").innerHTML +=`<input type="hidden" asp-for="editmissionSkills" name="editmissionSkills"  value="${ck[i].id}"/>`;
                        }
                      }
                 }
            </script>
        </div>
        <label class="mb-1 mt-3">Mission Availability</label>
        <select asp-for="mission.Avaibility" type="text" class="form-select form-control">
            <option value="0">Select your Availability</option>
            <option value="monthly">monthly</option>
            <option value="week-end">week-end</option>
            <option value="weekly">weekly</option>
            <option value="daily">daily</option>
        </select>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label">Upload Your Photos &Aacute; Documents</label>
                    <div class="d-flex justify-content-center align-items-center border input-div1 position-relative" style="height:150px">
                        <input asp-for="missionDocuments" id="imageupload1" type="file" class="file" accept="image/*" multiple /><img src="~/img/drag-and-drop.png">
                    </div>
                </div>
            </div>
            <output class="mt-3" id="preview1"></output>
        </div>
           <div class="row mt-3 mb-3">
            <div class="col-12">
        <input asp-for="missionDs" type="file" accept="*" multiple />
            </div>
            </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label>Enter your url</label>
                <input type="text" asp-for="url" class="form-control" id="sUrl" placeholder="Enter your url">
            </div>
        </div>
        <div class="row my-3">
            <div class="col-10"></div>
            <div class="col-2">
                <button type="button" class="cancell rounded-pill btn btn-outline-dark"
                        onclick="addpage('nav-mission',3);">
                    Cancel
                </button>
                <button type="submit" class="threebt rounded-pill btn btn-outline-warning"
                        value="3" name="command">
                    Save
                </button>
            </div>
        </div>
    </form>



</div>



<div class="border mt-3" id="edit" style="display: none;">
    <h3 class="p-3 m-0" style="background-color: #F8F9FC;"> Edit mission </h3>
    <hr class="m-0">
@*    <form method="post" class="px-3">
        <input type="hidden" asp-for="mission.MissionId" />
        <label for="select mission" class="mt-3"> Title </label>
        <input type="text" asp-for="mission.Title" class="form-control" id="formGroupExampleInput">
        <label for="select mission" class="mt-3"> Short Description </label>
          <textarea type="text" asp-for="mission.ShortDescription" class="form-control" id="formGroupExampleInput"></textarea>
         <label for="mission2" class="mt-3"> Description</label>
         <textarea id="mission2" asp-for="mission.Description" cols="172" rows="10" maxlength="40000"></textarea>
        <script>
            var abc = document.getElementById("mission2");
            CKEDITOR.replace(abc);
        </script>
        <div class="row mt-3">
            <div class="col-12 col-sm-6">
                <label>Country*</label>
                <select id="countryIdME" asp-for="mission.CountryId" onchange="GetProfileCity('ME');" class="form-select" aria-label="Default select example"
                        aria-placeholder="Select your country">
                    <option value="0">Select your country</option>
                    @foreach (var obj in @Model.countries)
                    {
                        <option value="@obj.CountryId">@obj.Name</option>
                    }
                </select>
            </div>
            <div class="col-12 col-sm-6">
                <label>City*</label>
                <select class="form-select" asp-for="mission.CityId" aria-label="Default select example"
                        aria-placeholder="Select your City" id="selectCityListME">
                    <option value="0">Select your City</option>
                    @foreach (var item in @Model.cities)
                    {
                        <option value="@item.CityId">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <label for="select mission" class="mt-3"> Organisation Name </label>
        <input type="text" asp-for="mission.OrganizationName" class="form-control" id="formGroupExampleInput">
        <label for="select mission" class="mt-3"> Organisation Detail </label>
<textarea type="text" asp-for="mission.OrganizationDetail" class="form-control" id="formGroupExampleInput"></textarea>
        <label for="select mission" class="mt-3"> Start Date </label>
        <input type="date" asp-for="mission.StartDate" class="form-control" id="formGroupExampleInput">
        <label for="select mission" class="mt-3"> End Date </label>
        <input type="date" asp-for="mission.EndDate" class="form-control" id="formGroupExampleInput">
        <label class="mb-1 mt-3">Mission Type</label>
        <select asp-for="mission.MissionType" type="text" class="form-select form-control">
            <option value="0">Select your mission type</option>
            <option value="Time">Time</option>
            <option value="Goal">Goal</option>

        </select>

        <label for="select mission" class="mt-3">Total Seats</label>
        <input type="text" @*asp-for="mission.GoalMissions.FirstOrDefault()?.GoalValue"*@@* class="form-control" id="formGroupExampleInput">

        <label for="select mission" class="mt-3"> Mission registration deadline </label>
        <input type="date" asp-for="mission.EndDate" class="form-control" id="formGroupExampleInput">
        <div class="row mt-3">
            <div class="col-12 col-sm-6">
                <label>Mission Theme</label>
                <select asp-for="mission.ThemeId" class="form-select" aria-label="Default select example"
                        aria-placeholder="Select your country">
                    <option value="0">Select your Mission Theme</option>
                    @foreach (var obj in @Model.missionthemes)
                    {
                        <option value="@obj.MissionThemeId">@obj.Title</option>
                    }
                </select>
            </div>
            <div class="col-12 col-sm-6">
                <label>Mission Skills</label>
                <select class="form-control" asp-for="missionSkills" size="9" id="selected_features" multiple="multiple">

                    @foreach (var item in @Model.skills)
                    {
                        <option value="@(item.SkillId)">
                            @item.SkillName
                        </option>
                    }

                </select>


            </div>
        </div>
        <label class="mb-1 mt-3">Mission Availability</label>
        <select asp-for="mission.Avaibility" type="text" class="form-select form-control">
            <option value="0">Select your Availability</option>
            <option value="monthly">monthly</option>
            <option value="week-end">week-end</option>
            <option value="weekly">weekly</option>
            <option value="daily">daily</option>

        </select>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label">Upload Your Photos &Aacute; Documents</label>
                    <div class="d-flex justify-content-center align-items-center border input-div position-relative" style="height:150px">


                        <input asp-for="missionDocuments" id="imageupload" type="file" class="file" accept="*" multiple /><img src="~/img/drag-and-drop.png">

                    </div>
                </div>

            </div>

            <output class="mt-3" id="preview"></output>

        </div>

        <div class="col-lg-12">
            <div class="form-group">
                <input type="text" class="form-control" id="sUrl" placeholder="Enter your url">
            </div>
        </div>
        <div class="row my-3">
            <div class="col-10"></div>
            <div class="col-2">
                <button type="button" class="cancell rounded-pill btn btn-outline-dark"
                        onclick="editpage('nav-mission',3);">
                    Cancel
                </button>
                <button type="submit" class="threebt rounded-pill btn btn-outline-warning"
                        value="3" name="command">
                    Save
                </button>
            </div>
        </div>
    </form>*@













     <form method="post" enctype="multipart/form-data" class="px-3">
        <input type="hidden" asp-for="mission.MissionId" />
        <label for="select mission" class="mt-3"> Title </label>
        <input type="text" asp-for="mission.Title" class="form-control" id="formGroupExampleInput">
        <label for="select mission" class="mt-3"> Short Description </label>
        <textarea type="text" asp-for="mission.ShortDescription" class="form-control" id="formGroupExampleInput"></textarea>
        <label for="mission2" class="mt-3"> Description</label>
        <textarea id="mission2" asp-for="mission.Description" cols="172" rows="10"
                  maxlength="40000"></textarea>
        <script>
            var abc = document.getElementById("mission2");
            CKEDITOR.replace(abc);
        </script>
        <div class="row mt-3">
            <div class="col-12 col-sm-6">
                <label>Country*</label>
                <select id="countryIda" asp-for="mission.CountryId" onchange="GetsCity('a');" class="form-select" aria-label="Default select example"
                        aria-placeholder="Select your country">
                    <option value="0">Select your country</option>
                    @foreach (var obj in @Model.countries)
                    {
                        <option value="@obj.CountryId">@obj.Name</option>
                    }
                </select>
            </div>
            <div class="col-12 col-sm-6">
                <label>City*</label>
                <select class="form-select" asp-for="mission.CityId" aria-label="Default select example"
                        aria-placeholder="Select your City" id="selectCityLista">
                    <option value="0">Select your City</option>
                    @foreach (var item in @Model.cities)
                    {
                        <option value="@item.CityId">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <label for="select mission" class="mt-3"> Organisation Name </label>
        <input type="text" asp-for="mission.OrganizationName" class="form-control" id="formGroupExampleInput">
        <label for="select mission" class="mt-3"> Organisation Detail </label>
        <textarea type="text" asp-for="mission.OrganizationDetail" class="form-control" id="formGroupExampleInput"></textarea>
        <label for="select mission" class="mt-3"> Start Date </label>
        <input type="date" asp-for="mission.StartDate" class="form-control" id="formGroupExampleInput">
        <label for="select mission" class="mt-3"> End Date </label>
        <input type="date" asp-for="mission.EndDate" class="form-control" id="formGroupExampleInput">
        <label class="mb-1 mt-3">Mission Type</label>
        <select asp-for="mission.MissionType" type="text" class="form-select form-control">
            <option value="0">Select your mission type</option>
            <option value="Time">Time</option>
            <option value="Goal">Goal</option>

        </select>
        <label for="select mission" class="mt-3">Total Seats</label>
        <input type="text" @*asp-for="mission.GoalMissions.FirstOrDefault().GoalValue"*@ class="form-control" id="formGroupExampleInput">
        <label for="select mission" class="mt-3"> Mission registration deadline </label>
        <input type="date" asp-for="mission.EndDate" class="form-control" id="formGroupExampleInput">
        <div class="row mt-3">
            <div class="col-12 col-sm-6">
                <label>Mission Theme</label>
                <select asp-for="mission.ThemeId" class="form-select" aria-label="Default select example"
                        aria-placeholder="Select your country">
                    <option value="0">Select your Mission Theme</option>
                    @foreach (var obj in @Model.missionthemes)
                    {
                        <option value="@obj.MissionThemeId">@obj.Title</option>
                    }
                </select>
            </div>
            <div class="col-12 col-sm-6">
                <label>Mission Skills</label>
                <a class="nav-link  text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Skills
                </a>
                <ul class="dropdown-menu" id="missionSkillE">

                    @foreach (var item in @Model.skills)
                    {
                        @if (Model.mission.MissionSkills.Any(x => x.SkillId == item.SkillId))
                        {
                            <li><input class="check" id="@item.SkillId" type="checkbox" onchange="missSkills();" checked />@item.SkillName </li>
                        }
                        else
                        {

                            <li><input class="check" id="@item.SkillId" type="checkbox" onchange="missSkills();" />@item.SkillName </li>
                        }

                    }
                </ul>

                <div id="inputSkillE" class="d-none"></div>
            </div>
            <script>
                function missSkills()
                {
                   var missionSkill = document.getElementById("missionSkillE");
                   var ck = missionSkill.getElementsByClassName("check");
                   console.log(ck);
                   $("#inputSkillE").empty();
                   for (i = 0; i < ck.length; i++)
                   {
                       if (ck[i].checked)
                       {
                           document.getElementById("inputSkillE").innerHTML +=`<input type="hidden" asp-for="editmissionSkills" name="editmissionSkills"  value="${ck[i].id}"/>`;
                       }
                   }
                }
            </script>
        </div>
        <label class="mb-1 mt-3">Mission Availability</label>
        <select asp-for="mission.Avaibility" type="text" class="form-select form-control">
            <option value="0">Select your Availability</option>
            <option value="monthly">monthly</option>
            <option value="week-end">week-end</option>
            <option value="weekly">weekly</option>
            <option value="daily">daily</option>

        </select>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label">Upload Your Photos &Aacute; Documents</label>
                    <div class="d-flex justify-content-center align-items-center border input-div position-relative" style="height:150px">
                        <input asp-for="missionDocuments" id="imageupload" type="file" class="file" multiple /><img src="~/images/drag-and-drop.png">
                    </div>
                </div>

            </div>

            <output class="mt-3" id="preview"></output>

        </div>
         <div class="row mt-3 mb-3">
            <div class="col-12">
        <input asp-for="missionDs" type="file" accept="*" multiple />
         </div>

            </div>
        <div class="col-lg-12">
            <div class="form-group">
                <input type="text" asp-for="url" class="form-control" id="sUrl" placeholder="Enter your url">
            </div>
        </div>
        <div id="photos" class="d-none">
            @if (Model.mission.MissionMedia.Count > 0)
            {
                @foreach (var item in @Model.mission.MissionMedia)
                {
                    <input type="hidden" class="Dimg" value="@item.MediaPath" />
                }
            }
        </div>
        <div class="row my-3">
            <div class="col-10"></div>
            <div class="col-2">
                <button type="button" class="cancell rounded-pill btn btn-outline-dark"
                        onclick="editpage('nav-mission',3);">
                    Cancel
                </button>
                <button type="submit" class="threebt rounded-pill btn btn-outline-warning"
                        value="3" name="command">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>


