
@using CIPLATFORM.Entities.ViewModels
@model AdminViewModel
<style>
    

.pagination > li > a
{
    background-color: white;
    color: #5A4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #FFFFFF;
    background-color: #F88634;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181 !Important;
}

.pagination > .active > a:hover
{
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
}
</style>
<div id="cmspage">

   
    <table class="table mt-3">
        <tbody>
       
                

            <tr style="background-color: #F8F9FC;">
                <th scope="col">FirstName </th>
                <th scope="col">LastName</th>
                <th scope="col">Email</th>
                <th scope="col">EmployeeId</th>
                <th scope="col">Department</th>
                <th scope="col">Status</th>
                <th scope="col" style="text-align: center;">Action</th>
            </tr>
                 @foreach (var obj in Model.users)
            {
            <tr>
                <td>@obj.FirstName</td>
                <td>@obj.LastName</td>
                <td>@obj.Email</td>
                <td>@obj.EmployeeId</td>
                <td>@obj.Department</td>
               @if(obj.Status == 1){                    <td style=" width: 33px; color: #3CDD5F; ">                        Active                    </td>                    }                    else{                    <td style=" width: 33px; color: #FF4545; ">                        Inactive                    </td>                    }


                <td style=" text-align:center;">
                    <button type="button" class="btn p-0"
                            onclick="editform('nav-user');">
                        <i class="bi bi-pencil-square" style="color: coral;"></i>
                    </button>

                    <button type="button" class="btn p-0">
                        <i class="bi bi-trash ms-3"></i>
                    </button>
                </td>
                </tr>
                }

        </tbody>
    </table>
</div>


<div class="border mt-3" id="add" style="display: none;">
    <h3 class="p-3 m-0" style="background-color: #F8F9FC;"> Add User</h3>
    <hr class="m-0">
    <form action="" class="px-3">
        <label for="select mission" class="mt-3"> Title </label>
        <input type="text" class="form-control" id="formGroupExampleInput">
        <label for="user1" class="mt-3"> Description</label>
        <textarea id="user1" cols="172" rows="10" maxlength="40000"></textarea>
        <script>
            var abc = document.getElementById("user1");
            CKEDITOR.replace(abc);
        </script>
        <label for="select mission" class="mt-3"> Slug </label>
        <input type="text" class="form-control" id="formGroupExampleInput">

        <label class="mb-1 mt-3">Mission</label>
        <select type="text" class="form-select form-control">
            <option value="1">Select your mission</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <div class="row my-3">
            <div class="col-10"></div>
            <div class="col-2">
                <button type="button" class="cancell rounded-pill btn btn-outline-dark"
                        onclick="addpage('nav-user');">
                    Cancel
                </button>
                <button type="submit" class="threebt rounded-pill btn btn-outline-warning"
                        value="2" name="command">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>
<div class="border mt-3" id="edit" style="display: none;">
    <h3 class="p-3 m-0" style="background-color: #F8F9FC;"> Edit User </h3>
    <hr class="m-0">
    <form action="" class="px-3">
        <label for="select mission" class="mt-3"> Title </label>
        <input type="text" class="form-control" id="formGroupExampleInput">
        <label for="user2" class="mt-3"> Description</label>
        <textarea id="user2" cols="172" rows="10" maxlength="40000"></textarea>
        <script>
            var abc = document.getElementById("user2");
            CKEDITOR.replace(abc);
        </script>
        <label for="select mission" class="mt-3"> Slug </label>
        <input type="text" class="form-control" id="formGroupExampleInput">

        <label class="mb-1 mt-3">Mission</label>
        <select type="text" class="form-select form-control">
            <option value="1">Select your mission</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <div class="row my-3">
            <div class="col-10"></div>
            <div class="col-2">
                <button type="button" class="cancell rounded-pill btn btn-outline-dark"
                        onclick="editpage('nav-user');">
                    Cancel
                </button>
                <button type="submit" class="threebt rounded-pill btn btn-outline-warning"
                        value="2" name="command">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>













<nav aria-label="Page navigation example mt-5">
    <ul class="pagination justify-content-end" onchange="searchuser()">
        @* <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous" onclick="Previous(2)">
            <span aria-hidden="true">&laquo;</span>
            </a>
            </li>*@
        @{
            double totalpages = ViewBag.Totalpages;



            for (int i = 1; i <= totalpages; i++)
            {
                @if (i == ViewBag.pg_no)
                {
                    <li class="page-item ">
                        <a class="page-link" onclick="searchuser(@i)">@i </a>

                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" onclick="searchuser(@i)">@i</a>
                    </li>
                }


            }
        }



        @* <li class="page-item">
            <a class="page-link" href="#" aria-label="Next" onclick="NextPage(1)">
            <span aria-hidden="true">&raquo;</span>
            </a>
            </li>*@
    </ul>
</nav>